# MetalLB IP 地址池配置
# 由 ArgoCD 自动同步管理
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: nexusnote-ip-pool
  namespace: metallb-system
spec:
  addresses:
    - 10.2.0.15-10.2.0.15
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
    - nexusnote-ip-pool
