kubeProxyReplacement: true
gatewayAPI:
  enabled: true
  hostNetwork:
    enabled: true
k8sServiceHost: 127.0.0.1
k8sServicePort: 6443
operator:
  replicas: 1
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
l2announcements:
  enabled: true
externalIPs:
  enabled: true
hostPort:
  enabled: true
loadBalancer:
  l7:
    backend: envoy
    mode: dedicated
envoy:
  enabled: true
  containerSecurityContext:
    privileged: true
  hostNetwork: true
ingressController:
  enabled: false
ipam:
  mode: kubernetes
