apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: nexusnote-gateway
  namespace: nexusnote
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "juanie.art"
      allowedRoutes:
        namespaces:
          from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nexusnote-route
  namespace: nexusnote
spec:
  parentRefs:
    - name: nexusnote-gateway
  hostnames:
    - "juanie.art"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: nexusnote-service
          port: 80
