---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: nexusnote-gateway
  namespace: { { .Values.namespace } }
  annotations:
    cert-manager.io/issuer: "{{ .Values.namespace }}-issuer"
    service.cilium.io/type: LoadBalancer
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: Same
      hostname: juanie.art
      tls:
        mode: Terminate
        certificateRefs:
          - name: nexusnote-cert
            group: cert-manager.io
            kind: Certificate
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nexusnote-route
  namespace: { { .Values.namespace } }
spec:
  parentRefs:
    - name: nexusnote-gateway
      namespace: { { .Values.namespace } }
      kind: Gateway
  hostnames:
    - juanie.art
  rules:
    - backendRefs:
        - name: nexusnote-service
          port: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: nexusnote-service
  namespace: { { .Values.namespace } }
spec:
  type: ClusterIP
  selector:
    app: nexusnote-web
  ports:
    - name: http
      port: 3000
      targetPort: 3000
